*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  "Montserrat", sans-serif;
     list-style: none;
     text-decoration: none;
}
body{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 120px;
    background: rgba(236, 236, 236, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); 
   
    -webkit-backdrop-filter: blur(5px); 
}
.logo {
  position: relative
  ;
  text-transform: uppercase;
  font-size: 35px;
color: white;
  
}
.logo span{
    position: relative;
    color: indianred;
}





   
  
 
.hamburger{
    display: none;

}


.navbar a {
    padding: 10px 15px; 
    margin: 5px 0;
    text-decoration: none;
    display: inline-block;
    color: #ffffff; 
    background-color: transparent; 
    transition: color 0.3s, background-color 0.3s;
    font-size: 23px;
    border-radius: 50px; 
    
}
.socials{
    display: flex ;
}
.navbar {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 10px; }

.navbar  a:hover {
    color: #000000; 
   background: #fff;
}
.navbar a.active{
    color: #000000; 
    background: #fff;
 }



@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
    
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1500px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 4px;
        background: #fff;
        margin: 6px 0;
        
    }
    .navbar{
        flex-direction: column;
    }
    header{
        height: 80px;
    }
    
    .navbar{
        height: 0;
       position: absolute;
       top: 80px;
       left: 0;
       right: 0;
       width: 100vw;
background:   rgb(20, 20, 20);
transition: .2s;
overflow: hidden;

    }
    .navbar.active{
        height: 700px;
    }
    .navbar a{
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center;
        transition: .5s;
opacity: 0;
        
    }
    .navbar.active a{
        opacity: 1;
    }
    .navbar a{
        margin-bottom: 12px;

    }
  .fa-brands i{
    margin-bottom: 10px;
    flex-direction: row;
    gap: 8px;
  }
  .logo{
    font-size: 25px;
  }
  .line{
    border-radius: 50px;
  }
}

.hero{
    margin-top: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 95vh;
    z-index: 0; 
    flex-direction: column;
   
   
}
.hero-container{
    align-items: center;
 
    padding: 20px 10%;
    flex-direction: column; 
}
.predstaveni h3{
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
}
.nadpis-1{
    overflow: hidden;
    padding-top: 3px;
}
.nadpis-1 h1{
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-size: 160px;
    transition-delay: 5s;
}
.nadpis-1 span {
    text-align: center;
   
    color: transparent;            
  -webkit-text-stroke: 1px rgb(255, 255, 255); 
  text-stroke: 1px rgb(255, 255, 255);  
    
    font-weight: bolder;
    
}
.predstaveni span{
    color: indianred;
    font-weight: 400;
}

.hero_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
    
}
.hero-btn{
    display: flex;
    padding: 10px 20px;
    border: 3px solid indianred;
    background: transparent;
    color: indianred;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin-top: 50px;
    margin-left: 120px;
    position: relative;
    z-index: 99;
    margin: auto;
    margin-top: 175px;
    transition: all .3s ease;
}

.hero-btn:hover{
    background: indianred;
    color: black;
   
    transition: all .3s ease;
}

.hero_img img {
    width: 120%;
    max-width: 600px;
    opacity: 1;
   }

  .char{
    transform:  translateY(115px);
    transition: transform .5s;
  }

 
   
    @media only screen and (max-width:480px){
        .hero {
            height: auto; 
            flex-direction: column;
            
        }
    
        .hero-container {
            padding: 10px 5%; 
            margin-top: 0;
        }
    
        .predstaveni h3 {
            font-size: 25px; 
            margin-top: 25px;
        }
    
        .nadpis-1 h1 {
            font-size: 60px;
        text-align: center; }
    
        .nadpis-1 span {
            font-size: 50px; 
            -webkit-text-stroke: 0.5px #fff;
        }
    
        .hero_img img {
        margin-top: 180px;
       width: 600px;
       height: 700px;
       justify-content: center;
       align-items: center;
       display: flex;
       margin-bottom: 60px;
        }
    
        .hero-btn {
            font-size: 22px; 
            margin-top: 40px; 
            margin-bottom: 50px; 
            padding: 10px 20px;
           
        }
    }
    @media only screen and (min-width:720px) and (max-width:898px){
        .hero {
            height: auto; 
            flex-direction: column;
            
        }
    
        .hero-container {
            padding: 10px 5%; 
            margin-top: 0;
        }
    
        .predstaveni h3 {
            font-size: 25px; 
            margin-top: 25px;
        }
    
        .nadpis-1 h1 {
            font-size: 80px;
        text-align: center; }
    
        .nadpis-1 span {
            
            -webkit-text-stroke: 0.5px #fff;
        }
    
        .hero_img img {
        margin-top: 90px;
       width: 600px;
       height: 700px;
       justify-content: center;
       align-items: center;
       display: flex;
       margin-bottom: 60px;
        }
    
        .hero-btn {
            font-size: 22px; 
            margin-top: 40px; 
            margin-bottom: 50px; 
            padding: 10px 20px;
           
        }
        
    }
    @media only screen and (min-width:480px) and (max-width:720px) {
        .hero {
            height: auto; 
            flex-direction: column;
        }
    
        .hero-container {
            padding: 10px 5%; 
            margin-top: 0;
        }
    
        .predstaveni h3 {
            font-size: 25px; 
            margin-top: 25px;
        }
    
        .nadpis-1 h1 {
            font-size: 80px;
        text-align: center; }
    
        .nadpis-1 span {
            font-size: px; 
            -webkit-text-stroke: 0.5px #fff;
        }
    
        .hero_img img {
        margin-top: 300px;
       width: 600px;
       height: 700px;
       justify-content: center;
       align-items: center;
       display: flex;
       margin-bottom: 60px;
        }
    
        .hero-btn {
            font-size: 25px; 
            margin-top: 40px; 
            margin-bottom: 50px; 
            padding: 10px 20px;
           
        }
    }
    @media (min-width: 1100px) and (max-width:1332px){
        .nadpis-1 h1{
            font-size: 110px;
        }
   }
    @media only screen and  (min-width:900px) and (max-width:1100px)   {
        .hero {
            height: auto; 
            flex-direction: column;
        }
    
        .hero-container {
            padding: 10px 5%; 
            margin-top: 0;
        }
    
        .predstaveni h3 {
            font-size: 25px; 
            margin-top: 25px;
        }
    
        .nadpis-1 h1 {
            font-size: 100px;
        text-align: center; }
    
        .nadpis-1 span {
            font-size: px; 
            -webkit-text-stroke: 0.5px #fff;
        }
    
        .hero_img img {
        margin-top: 220px;
       width: 600px;
       height: 700px;
       justify-content: center;
       align-items: center;
       display: flex;
       margin-bottom: 60px;
        }
    
        .hero-btn {
            font-size: 28px; 
            margin-top: 40px; 
            margin-bottom: 50px; 
            padding: 10px 20px;
           
        }
    }



    .about{
        width: 100%;
        height: 50vh;
     
        padding: 0 300px;
        
    }
    .about-container{
        display: flex;
        justify-content: end;
       align-items: center;
       
    }
    .nadpis-about h1 {
        display: flex;
        font-size: 110px;
        font-weight: bolder;
    }
    .about-paragraph{
        display: flex;
        justify-content: right;
        padding: 0 50px;
        margin-top: 15px;
        
    }
    .about-paragraph p{
        font-weight: lighter;
        font-size: 28px;
        padding: 10px 20px;
    }
    .coin img{
        width: 280px;
       position: relative;
       bottom: 190px;
       z-index: -99;
     right:  20px;
   
    }
    .coin{
        display: flex;
        justify-content: right;
    }
  
    
    @media (max-width: 1200px) {
        .about {
            padding: 0 100px;
            margin-top: 450px;
        }
        .about-container {
            flex-direction: column;
            align-items: flex-start;
        }
        .nadpis-about h1 {
            font-size: 90px;
        }
        .about-paragraph {
            justify-content: flex-start;
            padding: 0 20px;
        }
        .about-paragraph p {
            font-size: 24px;
        }
        .coin img {
            width: 200px;
            bottom: 150px;
            right: 0;
        }
    }
    
    @media (max-width: 768px) {
        .about {
            padding: 0 50px;
        }
        .nadpis-about h1 {
            font-size: 70px;
        }
        .about-paragraph p {
            font-size: 20px;
        }
        .coin img {
            width: 150px;
            bottom: 120px;
        }
    }
    
    @media (max-width: 480px) {
        .about {
            padding: 0 20px;
        }
        .nadpis-about h1 {
            font-size: 50px;
        }
        .about-paragraph p {
            font-size: 16px;
            font-weight: 500;
        }
        .coin img {
            width: 120px;
            bottom: 100px;
        }
    }

    .skills{
        width: 100%;
        height: 80vh;
        padding: 0 300px;
        margin-top:200px;
      
        align-items: center;
    }
    .skills-title{
        font-size: 100px;
      
       margin-bottom: 20px;
    }
  .skills .skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,2fr));
    gap: 15px;
  }
  .skills .skills-container .skills-box{
    background: #141313;
    border-radius: 8px;
    text-align: center;
    padding: 30px 20px;
    transition: .5s all ease-in-out;
  
  }
  .skills .skills-container .skills-box img{
    width: 50%;
   
 
  }
  .skills-box h2{
    font-weight: lighter;
  }
  .skills-box:hover{
    transform: translateY(-20px);
    transition: .5s all ease-in-out;
  }

  @media (max-width: 768px) {
    .skills {
        padding: 0 20px;
        height: 200px;
        margin-top: 100px;
    }

    .skills-title {
        font-size: 80px;
        padding: 0;
    }

    .skills .skills-container {
        grid-template-columns:  1fr;
    }

    .skills .skills-container .skills-box {
        padding: 0 100px; 
     
    }

    .skills .skills-container .skills-box img {
        width:50%; 
    }
}